extends layout.pug

block append meta
  title #{proj_name} | Analisi di Borsa e Notizie in tempo reale
  meta(name="description" content="Analisi tecniche, Informazioni e Rassegna Stampa dei titoli del FTSE Mib")
  meta(name="keywords" content="analisi, tecnica, azioni, ftse, mib, titoli, notizie, borsa, informazioni, rassegna, stampa")

  meta(name="og:url" content=proj_url + url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=proj_name + ' | Analisi di Borsa e Notizie in tempo reale')
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content="Analisi tecniche, Informazioni e Rassegna Stampa dei titoli del FTSE Mib")
  meta(name="og:image" content=proj_url + "/assets/images/borsa-milano.jpg")

  link(rel="canonical", href=proj_url + url)

block main 
  main
    include ../components/index/stocks_list/stocks_list.pug
    include ../components/index/api_list/api_list.pug
    include ../components/index/aggregator/aggregator.pug
    include ../components/index/filters/filters.pug

block prepend footer
  include ../components/shared/disclaimer/disclaimer.pug
