extends ../layout.pug

block append meta
  title #{stock.name} - Informazioni, Analisi Tecnica e Rassegna Stampa
  meta(name="description" content="Analisi titolo " + stock.name + " e Rassegna Stampa in tempo reale") 
  meta(name="keywords" content=stock.name + ", analisi, informazioni, rassegna, stampa, titolo")

  meta(name="og:url" content=proj_url + url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=stock.name + " - Informazioni, Analisi Tecnica e Rassegna Stampa")
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content="Analisi titolo " + stock.name + " e Rassegna Stampa in tempo reale")
  meta(name="og:image" content="/assets/images/borsa-milano.jpg")

block main 
  main
    include ../../components/analisi/stock_alerts/stock_alerts.pug
    include ../../components/analisi/stock_info/stock_info.pug

block prepend footer
  include ../../components/shared/disclaimer/disclaimer.pug