- 
  let sources = [
    {
      name: 'Borsa Italiana',
      id: 'borsa-italiana-logo',
      href: 'https://www.borsaitaliana.it/homepage/homepage.htm'
    },
    {
      name: 'Il Sole 24 Ore',
      id: 'il-sole-24-ore-logo',
      href: 'https://www.ilsole24ore.com/'
    },
    {
      name: 'Milano Finanza',
      id: 'milano-finanza-logo',
      href: 'https://www.milanofinanza.it/'
    },
    {
      name: 'SoldiOnLine',
      id: 'soldi-on-line-logo',
      href: 'https://www.soldionline.it/'
    },
    {
      name: 'Teleborsa',
      id: 'teleborsa-logo',
      href: 'https://www.teleborsa.it/'
    },
    {
      name: 'Repubblica Affari e Finanza',
      id: 'repubblica-aff-e-fin-logo',
      href: 'https://www.repubblica.it/economia/affari-e-finanza/'
    }
  ]
  let alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
section(id="stocks_list")
  h1 Analisi tecniche, Informazioni e Rassegna Stampa dei titoli del FTSE Mib 
  p Ottieni l'#[em analisi tecnica] e le #[em ultime notizie] delle principali azioni italiane. Confronta #[em i giudizi dei principali media] finanziari disponibili online e scopri quali sono #[em i titoli azionari di maggior interesse] tecnico in questo momento.
  p Tutte le informazioni sono raccolte in #[em tempo reale] dai principali Media online e comprendono le seguenti fonti.
  div 
    h2 Le fonti principali
    p Le sorgenti sono i principali media online del settore finanziario.
    div(class="sources")
      each source in sources
        a(class="source img_icon " + source.id, href=source.href, title=source.name) #{source.name}
  div 
    h2 tradingradar.net API 
    p Le informazioni presenti in questo sito sono disponbili anche attraverso #[em API (Application Program Interface)]. #[br]Gli sviluppatori interessati possono accedervi attraverso il servizio di #[a(href="https://rapidapi.com/marcopavanmp-R024fyPhqP6/api/tradingradar", title="Rapid API", target="_blank", rel="noopener noreferrer") Rapid API].
  div(id="select_stock")
    h2 Seleziona il titolo azionario per ottenere l'analisi che stai cercando
    div(class="alphabet")
      each letter in alphabet
        span #{letter}
    div(class="stocks") 
      each stock in stocks
        a(class="stock hide", href=`/analisi/${encodeURI(stock.name.toLowerCase())}?isin=${stock.isin}`, title=__('tech_analysis') + ' ' + stock.name, data-code=stock.code, data-letter=stock.name[0])
          img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt=__('tech_analysis') + ' ' + stock.name, data-status)
          span #{stock.name}
